<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ingreso de Productos</title>
</head>

<body class="bg-gray-200">

    <!-- This example requires Tailwind CSS v2.0+ -->
    <nav class="bg-pink-700">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="sm:block sm:ml-6">
                        <div class="flex space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a href="/"
                                class="text-pink-50 hover:bg-pink-900 px-3 py-2 rounded-md text-sm font-medium">Ingresar
                                Producto</a>

                            <a href="/productos/vista"
                                class="text-pink-50 hover:bg-pink-900 px-3 py-2 rounded-md text-sm font-medium">Listar
                                productos</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    {{{body}}}
</body>

</html>